*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: whitesmoke;
   

}
.body{
     width: 100px;
    height: 100px;
}
#nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    padding: 30px 50px;
    background-color: whitesmoke;    

}
#part2{
    display: flex;
    gap:50px;
}
#box1{
    width: 150px;
    height: 100px;  
    background-color: crimson;
}
#box2{
    width: 150px;
    height: 100px;  
    background-color: springgreen;
}

#page2{
    height: 120px;
    width: 120px;
    background-color: rgb(123, 5, 234);
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3{
    height: 120px;
    width: 120px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page4{
    height: 120px;
    width: 120px;
    background-color: rgb(167, 122, 209);
    display: flex;
    align-items: center;
    justify-content: center;
}