*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
background-color: white;

}
html,

body{
    
    background-color: black;
}
#nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    padding: 30px 50px;

}
#part2{
    display: flex;
    gap:50px;
}
#box1{
    width: 150px;
    height: 100px;  
    background-color: crimson;
}
#box2{
    width: 150px;
    height: 100px;  
    background-color: springgreen;
}